html {
    width: 100vw;
    overflow-x: hidden;
}

table {
    table-layout:fixed;
}

.icon-angle {
    font-size: 24px !important;
    color: white;
    float: right;
    cursor: pointer;
}

.icon-angle-mr {
    font-size: 24px !important;
    color: white;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.text-right {
    text-align: right;
}

.btn-pr-0 {
    text-align: right;
}

.btn-pr-15 {
    text-align: right;
    padding-right: 15px !important;
}

.btn-column-gerer {
    cursor: pointer;
    padding-right: 5px;
}

.ng-autocomplete div div input {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.autocomplete-container {
    box-shadow: none !important;
}

.autocomplete-container .input-container input:disabled {
    background-color: #e9ecef !important;
    opacity: 1;
}