<form #form="ngForm" [formGroup]="signupForm" (submit)="enregistrer()" class="ml-5">

    <div class="form-group row mb-4">
        <label class="col-sm-3 badge badge-pill badge-dark" style="font-size: 100%;margin-left: 15px;">
            {{titleForm}}
        </label>
    </div>

    <div class="form-group row">
        <label for="nomTypeBiere" class="col-sm-2 col-form-label">Nom:</label>
        <div class="col-sm-5">
            <input #nomInput formControlName="nom" placeholder="Nom du type de bière" 
                [(ngModel)]="entite.nom"
                class="form-control" autofocus id="nomTypeBiere">
            <champ-message
                *ngIf="signupForm.get('nom').errors?.required && form.submitted"
                text="Nom est obligatoire">
            </champ-message>
            <champ-message
                *ngIf="signupForm.get('nom').errors?.maxlength && form.submitted"
                text="Nom doit avoir au maximum 200 caractères">
            </champ-message> 
        </div>
    </div>

    <div class="form-group row">
        <label for="descriptionTypeBiere" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-5">
            <textarea formControlName="description" placeholder="Description du type de bière"
                [(ngModel)]="entite.description" 
                class="form-control" id="descriptionTypeBiere" rows="3"></textarea>
            <champ-message
                *ngIf="signupForm.get('description').errors?.maxlength && form.submitted"
                text="Description doit avoir au maximum 4000 caractères">
            </champ-message>
        </div>
    </div>

    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button class="btn btn-primary" *ngIf=showBtnEnregistrer()>
                <span class="fa fa-save"></span> Enregistrer
            </button>
            <button type="button" class="btn btn-secondary ml-1" (click)="annuler()">
                <span class="fa fa-arrow-left"></span> Retourner
            </button>
        </div>
    </div>

</form>